<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TGS</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="static/css/Animated-Type-Heading.css">
    <link rel="stylesheet" href="static/css/Footer-Clean.css">
    <link rel="stylesheet" href="static/css/image-card-materialize1.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/Animated-Type-Heading.js"></script>
    <script src="static/js/image-card-materialize.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>


<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">Hydrocarbon Sensing using Seismic Images</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav"></ul>
        </div>
        </div>
    </nav>
    <section>
        <div>
            <hr>
            <h1 class="text-center" style="padding-top:30px;padding-bottom:30px;font-family:ABeeZee, sans-serif;">				<div class="caption v-middle text-center">
					<h1 class="cd-headline clip">
			            <span class="blc"></span>
			            <span class="cd-words-wrapper">
			              <b class="is-visible">Should I start digging here?</b>
			              <b>Can I extract oil from this location?</b>
			              <b>How likely am I to find oil here?</b>
			            </span>
	          		</h1>
				</div></h1>
        </div>
        <hr>
        <div class="container">
            <div>
                <h2 class="text-center" style="margin:30px;">Input</h2>
                <form action="{{ url_for('home_page', type='upload_me') }}" method="post" enctype="multipart/form-data">
                    <div class="form-group"><input class="form-control form-control-lg" type="number" name="Thres" placeholder="Threshold" required min="0" max="100" step="1"></div>
                    <div class="form-group">
                         <center>
                        <div class="btn-group btn-group-lg visible" role="group" style="padding:20px;margin:auto;display:block;">
                    <label for="imageUpload" class="btn btn-info btn-lg" style="margin:20px;margin-right:10px;">Choose a Seismic Image</label>
                    <input type="file" name="Simage" id="imageUpload" required accept="image/*" style="display: none">
                          <!--  <label for="imageUpload1" class="btn btn-info btn-lg" style="margin:20px;margin-right:10px;">Choose a Mask Image</label>
                    <input type="file" name="mask" id="imageUpload1" required accept="image/*" style="display: none">
 -->
                            <button
                                class="btn btn-primary btn-lg" type="submit" style="margin:20px;margin-left:10px;">Submit</button>
                                <button class="btn btn-danger btn-lg" type="reset" style="margin:20px;margin-left:10px;background-color:rgb(255,0,0);">Reset</button></div></center>
                    </div>
                </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% if "Upload Success" in messages %}

                            <div  class="alert alert-success alert-dismissible fade show">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <strong>Success!</strong> Files uploaded.
                            </div>
                        {% elif "Upload Failed" in messages %}
                            <div  class="alert alert-danger alert-dismissible fade show">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <strong>Failed!</strong> Files upload failed.
                            </div>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <hr>
        <div class="container">
            <div>
                    <button class="btn btn-primary btn-lg" type="button" style="font-size:51px;color:rgb(255,255,255);width:300px;height:60px;margin:auto;display:block;" onclick="window.location.href='{{ url_for('predicts_me', type='predict_me') }}'">PREDICT</button>
            </div>
        </div>
    </section>
    <hr>
    <div class="container">
        <div>
            
            {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% if "Plot Me" in messages %}
                        <h2 class="text-center" style="margin:30px;">Results</h2>
                            The <strong>Proportion of Salt</strong> in the given region is <strong>{{salt_prop}}</strong>
                        {% else %}
                        <h2 class="text-center" style="margin:30px;">Fun Facts</h2>
                             <ul type="disc">
<li>Where there is salt, there is oil.</li>
<li>But where is the salt?</li>
<li>Classifying seismic imaging currently requires human (salt/not salt)</li>
<li>Can we use an algorithm to do this instead? (yes)</li>
<li>Seismic data is like an ultra-sound of the subsurface</li>
<li>It uses wavelengths around 1m to 100m</li>
<li>The Society of Exploration Geophysicists has 10K publications using the keyword 'salt'</li>
<li>We can think of Earth as layered.</li>
<li>Sand gets deposited on top of existing sand. And in comes the salt.</li>
<li>There is an entire research branch dedicated to salt tectonics, that is the movement of salt in the subsurface.</li>
                             </ul>
                          {% endif %}
                     {% else %}
                       <h2 class="text-center" style="margin:30px;">Fun Facts</h2>
                             <ul type="disc">
<li>Where there is salt, there is oil.</li>
<li>But where is the salt?</li>
<li>Classifying seismic imaging currently requires human (salt/not salt)</li>
<li>Can we use an algorithm to do this instead? (yes)</li>
<li>Seismic data is like an ultra-sound of the subsurface</li>
<li>It uses wavelengths around 1m to 100m</li>
<li>The Society of Exploration Geophysicists has 10K publications using the keyword 'salt'</li>
<li>We can think of Earth as layered.</li>
<li>Sand gets deposited on top of existing sand. And in comes the salt.</li>
<li>There is an entire research branch dedicated to salt tectonics, that is the movement of salt in the subsurface.</li>
                             </ul>
                    {% endif %}
                {% endwith %}

            <div><div class="row">
        <div class="col s12 m7">
          <div class="card">
            <center>
            {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% if "Plot Me" in messages %}
                            <div class="chart" id="heatmap">
                            <script>
                                var graphs = {{mask_graph[0] | safe}};
                                var lays = {{mask_graph[1] | safe}};
                                Plotly.plot('heatmap',graphs,lays);
                            </script>
                        {% else %}
                              <!-- <div class="card-image">
                                  <img src="static/img/sample-1.jpg">
                                  <span class="card-title">Card Title</span>
                                </div>
                                <div class="card-content">
                                  <p>I am a very simple card. I am good at containing small bits of information.
                                  I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                  <a href="#">This is a link</a>
                                </div> -->
                        {% endif %}
                         {% else %}
                             <!--  <div class="card-image">
                                  <img src="static/img/sample-1.jpg">
                                  <span class="card-title">Card Title</span>
                                </div>
                                <div class="card-content">
                                  <p>I am a very simple card. I am good at containing small bits of information.
                                  I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                  <a href="#">This is a link</a>
                                </div> -->
                    {% endif %}
                {% endwith %}
          </div>
        </center>
        </div>
      </div><div class="row">
        <div class="col s12 m7">
         <div class="card">
          <center>
            {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% if "Plot Me" in messages %}
                            <div class="chart" id="scattermap">
                            <script>
                                var graphs = {{plots[0] | safe}};
                                var lays = {{plots[1] | safe}};
                                Plotly.plot('scattermap',graphs,lays);
                            </script>

                        {% else %}
                            <!--   <div class="card-image">
                                  <img src="static/img/sample-1.jpg">
                                  <span class="card-title">Card Title</span>
                                </div>
                                <div class="card-content">
                                  <p>I am a very simple card. I am good at containing small bits of information.
                                  I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                  <a href="#">This is a link</a>
                                </div> -->
                        {% endif %}
                         {% else %}
                              <!-- <div class="card-image">
                                  <img src="static/img/sample-1.jpg">
                                  <span class="card-title">Card Title</span>
                                </div>
                                <div class="card-content">
                                  <p>I am a very simple card. I am good at containing small bits of information.
                                  I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                  <a href="#">This is a link</a>
                                </div> -->
                    {% endif %}
                {% endwith %}
          </div>
          </center>
        </div>
      </div></div>
        </div>
    </div>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Done by</h3>
                        <ul>
                            <li><a href="#">Abhishek Varma (1SG15CS004)</a></li>
                            <li><a href="#">Aman Gupta</a><br>&nbsp;(1SG15CS008)<br></li>
                            <li><a href="#">Dylan Saldanha (1SG15CS026)</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Guide</h3>
                        <ul>
                            <li><a href="#">Mrs. Madhushree</a></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social">
                        <p class="text-center copyright">Sapthagiri College of Engineering 2019</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>
